.cat-image{
    max-width: 500px;
    width: auto;
    height: auto;
    margin-right: 40px;
}
.cat-info{
    display: flex;
}
h2{
    margin: 10px 0 30px 0;
}
.error{
    color: red;
}

select{
    width: 240px;
    height: 50px;
    font-size: 25px;
}
body {
    font-family: Arial, sans-serif;
    padding: 40px;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-size: 30px;
  }
  
  .loader, .error {
    display: none;
  }
  
  .cat-info {
    display: none;
    margin-top: 20px;
  }
  

  
  .breed-select {

    margin-bottom: 10px;
  }

  .ss-main{
    width: 320px !important; 
  }